.bleNotSupported{
    background-color: red;
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
}

button{
    margin: 5px;
    display: block;
    padding:2px;
    color: blue;
}