.bleNotSupported{
    background-color: red;
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
}

button{
    margin: 15px;
    display: block;
    
    width: 90%;
    text-align: center;
    border: 2px solid black;
    border-color: #4CAF50;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

button:visited button:active button:hover{
    background-color:green;
}



