.myEmbeddedScene {
    height: 50%;
    width: 50%;
    position: relative;
  }

.over-ar{
    position: fixed; 
    bottom: 10px; 
    left: 50 px;
    width:100%; 
    
    z-index: 1;
}