<a-scene embedded arjs='sourceType: webcam; detectionMode: mono; maxDetectionRate: 30; canvasWidth: 240; canvasHeight: 180'>

  <a-marker preset="hiro">


    <a-entity>


      <a-entity line="start: 0 0 0; end: .5 .5. .5; color: red" line__1="start: 0 0 0; end: .5 .5. -.5; color: green" line__2="start: 0 0 0; end: -.5 .5 -.5; color: blue"
        line__3="start: 0 0 0; end: -.5 .5 .5; color: yellow" line__4="end: 0 1 0; start: .5 .5. .5; color: red" line__5="end: 0 1 0; start: .5 .5 -.5; color: green"
        line__6="end: 0 1 0; start: -.5 .5 -.5; color: blue" line__7="end: 0 1 0; start: -.5 .5 .5; color: yellow"></a-entity>
      <a-animation attribute="rotation" position="0 0 0" dur="5000" fill="forwards" to="0 360 0" repeat="indefinite" easing="linear"></a-animation>

    </a-entity>

    <a-entity>


      <a-entity line__8="start: 0 0 0; end: 0.25 .5 0.25; color: red" line__9="start: 0 0 0; end: 0.25 .5 -0.25; color: green"
        line__10="start: 0 0 0; end: -0.25 .5 -0.25; color: blue" line__11="start: 0 0 0; end: -0.25 .5 0.25; color: yellow"
        line__12="end: 0 1 0; start: 0.25 .5 0.25; color: red" line__13="end: 0 1 0; start: 0.25 .5 -0.25; color: green" line__14="end: 0 1 0; start: -0.25 .5 -0.25; color: blue"
        line__15="end: 0 1 0; start: -0.25 .5 0.25; color: yellow"></a-entity>
      <a-animation attribute="rotation" position="0 0 0" dur="5000" fill="forwards" to="0 -360 0" repeat="indefinite" easing="linear"></a-animation>

    </a-entity>
    <a-plane position="0 0 0" color="white" rotation="-90 0 0" material="opacity: 1.0; transparent: true;side:double;">

    </a-plane>
    <a-entity>
      <a-plane position="0 0.5 -1" rotation="-45 0 0" color="yellow" material="opacity: 0.5; transparent: true;side:double;">
        <a-text id='front-plane' [attr.value]='bleDate' align='center' width='4'></a-text>

      </a-plane>
      <a-animation attribute="rotation" position="0 0 0" dur="5000" fill="forwards" to="0 360 0" repeat="indefinite" easing="linear"></a-animation>
    </a-entity>

    <a-entity>
      <a-plane position="1 0.5 0" rotation="-45 -90 0" color="blue" material="opacity: 0.5; transparent: true;side:double;">
        <a-text id='right-plane' [attr.value]="'Calories\n\n'+pedoMeterStat.calories" align='center' width='4'></a-text>
      </a-plane>
      <a-animation attribute="rotation" position="0 0 0" dur="5000" fill="forwards" to="0 360 0" repeat="indefinite" easing="linear">
      </a-animation>
    </a-entity>
    <a-entity>
      <a-plane position="-1 0.5 0" rotation="-45 90 0" color="red" material="opacity: 0.5; transparent: true;side:double;">
        <a-text id='left-plane' [attr.value]="'Step Count\n\n'+pedoMeterStat.steps" align='center' width='4'></a-text>
      </a-plane>
      <a-animation attribute="rotation" position="0 0 0" dur="5000" fill="forwards" to="0 360 0" repeat="indefinite" easing="linear">
      </a-animation>
    </a-entity>
    <a-entity>
      <a-plane position="0 0.5 1" rotation="-45 180 0" color="green" material="opacity: 0.5; transparent: true;side:double;">
        <a-text id='back-plane'  align='center' width='4' [attr.value]="'Distance\n\n'+pedoMeterStat.distance"></a-text>

      </a-plane>
      <a-animation attribute="rotation" position="0 0 0" dur="5000" fill="forwards" to="0 360 0" repeat="indefinite" easing="linear">
      </a-animation>
    </a-entity>
  </a-marker>
  <a-entity position="0 0 0" camera>

  </a-entity>

</a-scene>